.todo-list {
	border-image: linear-gradient(#a7a49f, #30b8c2) 30;
	border-width: 4px;
	border-style: solid;
	box-shadow: 5px 5px 15px rgb(46, 45, 45);
	width: 60%;
	margin: auto auto;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}
