.todo-list .item {
	position: relative;
	width: 90%;
	padding: 0.1rem;
	border: 1px solid #696969;
	border-radius: 12px;
	margin: 1rem auto;
	box-shadow: 2px 1px 1px rgb(187, 178, 178);
	transition: all 0.5s;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	text-align: left;
	padding-left: 1rem;
	background-color: #242424;
}
.item:hover {
	border: 1px solid #2e9bce;
	box-shadow: 2px 1px 1px #2e9bce;
}
.item:hover p {
	overflow: visible;
}
.item p {
	max-width: 70%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.remove {
	font-size: 12px;
	position: absolute;
	top: 6px;
	right: 16px;
	transition: all 0.5;
	-webkit-transition: all 0.5;
	-moz-transition: all 0.5;
	-ms-transition: all 0.5;
	-o-transition: all 0.5;
	cursor: pointer;
}
.item:hover .remove {
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
}
